.container {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .title {
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
  }

  .title1 {
    color: var(--textSoft);
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    flex-basis: 100rem;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
  }
  
  .search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bg);
    padding: 10px;
    border-radius: 10px;
  }
  
  .input {
    background-color: transparent;
    border: none;
    color: var(--text);
  }
  
  .icons{
    display: flex;
    gap: 20px;
  }
  .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .navNameLinks{
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .nav a{
    width:25%
  }

  .navName{
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  .navNameButton{
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    border-radius: 20px;
    width: 40%;
    justify-items: end;
  }

  .navNameButton button{
    color: var(--textSoft);
    border: none;
    padding: 2px;
    background-color: transparent;
  }

  .navName button{
    padding-left: 7px;
    background-color:  var(--bg);
    border: none;
    color: aliceblue;
    font-weight: 100;
  }
  .signIn{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 65%;
  }
  