.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #f4f6f9;
  font-family: 'Arial', sans-serif;
  color: rgb(32, 32, 32);
}

/* Header Styling */
.header {
  background: #003366;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 70px;
}
  
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    
  }
  
  .form input,
  .form textarea,
  .form select {
    padding: 10px;
    background-color: var(--bg);
    color: rgb(50, 49, 49);
    border: 2px solid var(--textSoft);
    border-radius: 5px;
  }
  
  .form input, .form select {
    width: 20%;
    margin-right: 10px;
  }
  
  .form textarea{
    width: 20%;
  }
  
  .form button{
    width: 10%;
    /* padding: 12px; */
    background-color: var(--bgSoft);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }