.container {
    background-color: var(--bg);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    height: 550px;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
  }
  
  .form input,
  .form textarea,
  .form select {
    padding: 15px;
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid var(--textSoft);
    border-radius: 5px;
    margin-bottom: 30px;

  }
  
  .form input, .form select {
    width: 30%;
  }
  
  .form textarea{
    width: 20%;
  }
  
  .form button{
    width: 15%;
    padding: 12px;
    background-color: var(--bgSoft);
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }