.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #f4f6f9;
  font-family: 'Arial', sans-serif;
  color: rgb(32, 32, 32);
}

/* Header Styling */
.header {
  background: #003366;
  color: white;
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2rem;
  opacity: 0.8;
}
  .infoContainer {
    flex: 1;
    background-color: var(--bg);
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: var(--textSoft);
    height: max-content;
  }
  
  .imgContainer{
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .formContainer {
    display: flext;
    justify-items: center;
    flex: 50;
    background-color: var(--bg);
    padding: 20px;
    border-radius: 10px;
  }
  
  .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
  }
  
  .form input, .form textarea, .form select{
    padding: 10px;
    background-color: var(--bg);
    color: rgb(50, 49, 49);
    border: 2px solid var(--textSoft);
    border-radius: 5px;
  }

  .form input, .form select {
    width: 20%;
    margin-right: 10px;
  }
  .form label{
    font-size: 12px;
  }
  
  .form button{
     width: 10%;
    /* padding: 12px; */
    background-color: var(--bgSoft);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }