.container {
    display: flex;
    gap: 50px;
    margin-top: 20px;
  }
  
  .infoContainer {
    flex: 1;
    background-color: var(--bg);
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: var(--textSoft);
    height: max-content;
  }
  
  .imgContainer{
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .formContainer {
    display: flext;
    justify-items: center;
    flex: 50;
    background-color: var(--bg);
    padding: 20px;
    border-radius: 10px;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .form input, .form textarea, .form select{
    padding: 20px;
    border: 2px solid var(--textSoft);
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--textSoft);
    margin: 10px 0px;
  }
  
  .form label{
    font-size: 12px;
  }
  
  .form button{
    width: 50%;
    padding: 20px;
    background-color: var(--bgSoft);
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }