/* styles/Login.module.css */
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg);
  }

  .containerHeader{
    margin: 20px;
    width: 75%;

  }
  
  .containerHeader h2{
    text-align: center;
    color:var(--bgSoft) ;
    font-family: 'Courier New', Courier, monospace;
  }
  .card {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px #8080801a;
    max-width: 400px;
    width: 100%;
  }
  .loginHead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    text-align: center;
    
    font-size: 1.5rem;
    color: var(--bgSoft);
  }
  .title1{
    margin-bottom: 2rem;
    margin-top: 1.6rem;
    text-align: center;
    font-size: 1.3rem;
    color: var(--bgSoft);
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    margin-bottom: 1.5rem;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: var(--bgSoft);
  }
  
  .inputGroup input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .button {
    background-color: var(--textSoft);
    color: var(--bg);
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: rgb(157, 201, 245);
    color: #00246B;
  }